<form action="#">
    <input type="text" name="imie" placeholder="Imię"/>
    <input type="text" name="nazwisko"placeholder="Nazwisko"/>
    <input type="text" name="email"placeholder="E-mail"/>
    <textarea name="tresc"placeholder="Treść"></textarea>
    <button type="submit">Wyślij</button>
</form>