.admin-panel-controll-window {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0;
}

.admin-panel-controll-window .left-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.admin-panel-controll-window .left-column ul {
  list-style-type: none;
}

.admin-panel-controll-window .left-column ul li {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.admin-panel-controll-window .left-column ul .active {
  color: #78c1ff;
  font-weight: bold;
}

.admin-panel-controll-window .right-column {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.admin-panel-controll-window .right-column .questions-box {
  display: block;
  max-height: 800px;
  overflow-y: scroll;
  width: 100%;
}

.admin-panel-controll-window .right-column .questions-box .single-question {
  padding: 1rem;
  border: 2px solid #78c1ff;
  border-radius: 20px;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-panel-controll-window .right-column .questions-box .single-question .left-wrapper, .admin-panel-controll-window .right-column .questions-box .single-question .right-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.admin-panel-controll-window .right-column .questions-box .single-question .right-wrapper {
  text-align: right;
}

.admin-panel-controll-window .right-column .questions-box .single-question .right-wrapper textarea {
  width: 100%;
  min-height: 200px;
  margin: 2rem 0 1rem 0;
  height: auto;
  border-top: 1px solid black;
}

.admin-panel-controll-window .right-column .questions-box .single-question .right-wrapper input {
  background-color: #78c1ff;
  border: 0;
  outline: 0;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 100px;
}

.admin-panel-controll-window .right-column .workers {
  display: none;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.admin-panel-controll-window .right-column .workers .workers-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
  width: 25%;
  margin: 0 2rem;
  -webkit-box-shadow: 10px 10px 10px lightgray;
          box-shadow: 10px 10px 10px lightgray;
  border-top: 3px solid #78c1ff;
  border-left: 3px solid #78c1ff;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker .img-container img {
  width: 60%;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker .text-wrapper {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker .text-wrapper p {
  margin-bottom: 2rem;
}

.admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker .text-wrapper .visits {
  display: none;
}

.admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker .text-wrapper .buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker .text-wrapper .buttons-wrapper button {
  background-color: #78c1ff;
  cursor: pointer;
  color: #fff;
  padding: 0.5rem;
  border: 0;
  outline: 0;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.2rem 1rem 0.2rem;
  margin-top: 0 !important;
}

.admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker .text-wrapper .buttons-wrapper .btn {
  background-color: rgba(255, 43, 0, 0.5) !important;
  border: 2px solid #ff2b00 !important;
}

.admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker .text-wrapper .buttons-wrapper .showVisits {
  background-color: #78c1ff;
  cursor: pointer;
  color: #fff;
  padding: 1rem;
  border: 0;
  outline: 0;
  border-radius: 20px;
}

.admin-panel-controll-window .right-column .workers .buttons-wrapper-outer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

.admin-panel-controll-window .right-column .workers .buttons-wrapper-outer .add {
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(0, 184, 0, 0.5);
  border: 2px solid #00b800;
}

@media (max-width: 1650px) {
  .admin-panel-controll-window .workers .workers-wrapper .single-worker .text-wrapper .buttons-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .admin-panel-controll-window .workers .workers-wrapper .single-worker .text-wrapper .buttons-wrapper button {
    width: 10vw !important;
  }
}

@media (max-width: 1000px) {
  .admin-panel-controll-window {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .admin-panel-controll-window .left-column {
    height: 100px;
    margin-bottom: 4rem;
  }
  .admin-panel-controll-window .left-column ul {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
  .admin-panel-controll-window .right-column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0;
  }
  .admin-panel-controll-window .right-column .questions-box {
    width: 90%;
  }
  .admin-panel-controll-window .right-column .questions-box .single-question {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .admin-panel-controll-window .right-column .questions-box .single-question .left-wrapper {
    font-size: 12px;
    margin: 2rem 0 1rem 0;
  }
  .admin-panel-controll-window .right-column .questions-box .single-question .right-wrapper textarea {
    padding-top: 0;
    min-height: 170px;
    border-top: 1px solid black;
  }
  .admin-panel-controll-window .right-column .workers .single-worker .text-wrapper {
    font-size: 12px;
  }
  .admin-panel-controll-window .right-column .workers .single-worker .text-wrapper .buttons-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .admin-panel-controll-window .right-column .workers .single-worker .text-wrapper .buttons-wrapper button {
    width: 20vw !important;
    margin: 1.5rem 0;
  }
  .admin-panel-controll-window .right-column .workers .single-worker .text-wrapper .visits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .admin-panel-controll-window .left-column {
    max-height: 50px !important;
  }
  .admin-panel-controll-window .left-column ul li {
    width: 100px;
    height: 50px;
  }
  .admin-panel-controll-window .right-column .questions-box {
    height: auto;
  }
  .admin-panel-controll-window .right-column .questions-box .single-question {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .admin-panel-controll-window .right-column .questions-box .single-question .right-wrapper textarea {
    width: 95%;
    padding-top: 0;
  }
  .admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker {
    display: inline-block;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker .buttons-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker .buttons-wrapper button {
    width: 50vw !important;
    margin: 0.5rem;
  }
  .admin-panel-controll-window .right-column .workers .workers-wrapper .single-worker .visits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=admin-panel.css.map */