.admin-panel-controll-window{
    width:100%;
    //height:900px;
    display: flex;
    padding: 4rem 0;
    .left-column{
        flex:1;
        ul{
            list-style-type: none;
            //height: 900px;
            li{
                width:150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                cursor: pointer;
            }
            .active{
                color:#78c1ff;
                font-weight: bold;
            }
        }
    }
    .right-column{
        flex:4;
        padding: 0 5rem;
        display: flex;
        justify-content: center;
        align-items: top;
        .questions-box{
            display: block;
            max-height: 800px;
            overflow-y: scroll;
            width: 100%;
            .single-question{
                padding:1rem;
                border:2px solid #78c1ff;
                border-radius: 20px;
                margin-bottom: 2rem;
                display:flex;
                align-items: center;
                .left-wrapper,.right-wrapper{
                    flex:1;
                }
                .right-wrapper{
                    text-align: right;
                    textarea{
                        width: 100%;
                        min-height: 200px;
                        margin:2rem 0 1rem 0;
                        height: auto;
                        border-top: 1px solid black;
                    }
                    input{
                        background-color: #78c1ff;
                        border:0;
                        outline: 0;
                        color:#fff;
                        padding:1rem 3rem;
                        border-radius: 100px;
                    }
                }
        }
        }

    .workers{
        display: none;
        align-items: top;
        flex-direction: column;
        position: relative;
        .workers-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        .single-worker{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 1rem;
            width:25%;
            margin:0 2rem;
            box-shadow: 10px 10px 10px lightgray;
            border-top:3px solid #78c1ff;
            border-left:3px solid #78c1ff;
            border-radius: 20px;
            margin-bottom: 2rem;
            .img-container{
                display: flex;
                justify-content: center;
            img{
                width:60%;
                border-radius: 50%;
                margin-bottom: 3rem;
            }
            }
            .text-wrapper{
                align-self: flex-start;
                p{
                    margin-bottom: 2rem;
                }
                .visits{
                    display: none;
                }
            .buttons-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                width:100%;
                button{
                    background-color: #78c1ff;
                    cursor:pointer;
                    color:#fff;
                    padding: 0.5rem;
                    border:0;
                    outline: 0;
                    border-radius: 20px;
                    width: 100px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 0.2rem 1rem 0.2rem;
                    margin-top: 0 !important;
                }
                .edit{
                    //background-color: rgba(255, 204, 0,0.5);
                    //border:2px solid #ffcc00;
                }
                .btn{
                    background-color: rgba(255, 43, 0,0.5) !important;
                    border:2px solid #ff2b00 !important;
                }
                .showVisits{
                    background-color: #78c1ff;
                    cursor:pointer;
                    color:#fff;
                    padding: 1rem;
                    border:0;
                    outline: 0;
                    border-radius: 20px;
                }
            }
            }
        }
    }
    .buttons-wrapper-outer{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        .add{
            margin:0 1rem;
            padding: 1rem;
            border-radius: 10px;
            background-color: rgba(0, 184, 0,0.5);
            border:2px solid #00b800;
        }
    }
}
    }

    @media(max-width:1650px){
        .workers{
            .workers-wrapper{
                .single-worker{
                    .text-wrapper{
                        .buttons-wrapper{
                            flex-direction: column;
                            button{
                                width:10vw !important;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width:1000px){
        flex-direction: column;
        //min-height: 1100px;
        padding-top:2rem;
        padding-bottom: 2rem;
        .left-column{
            height: 100px;
            margin-bottom: 4rem;
            ul{
                height: 100px;
                display: flex;
                justify-content: center;
                padding-left: 0;
            }
        }

        .right-column{
            flex:1;
            padding: 0;
            .questions-box{
                width:90%;
                .single-question{
                    align-items: flex-start;
                    .left-wrapper{
                        font-size: 12px;
                        margin: 2rem 0 1rem 0;
                    }
                    .right-wrapper{
                        textarea{
                            padding-top: 0;
                            min-height: 170px;
                            border-top: 1px solid black;
                        }
                    }
                }
            }

            .workers{
                .single-worker{
                    .text-wrapper{
                        font-size: 12px;
                    .buttons-wrapper{
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        button{
                            width:20vw !important;
                            margin: 1.5rem 0;
                        }
                    }
                    .visits{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
            }
        }
    }

    @media(max-width:600px){
        .left-column{
            max-height: 50px !important;
            ul{
                li{
                    width: 100px;
                    height: 50px;
                }
            }
        }
        .right-column{
            .questions-box{
                height: auto;
                .single-question{
                    flex-direction: column;
                    .right-wrapper{
                        textarea{
                            width:95%;
                            padding-top: 0;
                        }
                    }
                }
            }

            .workers{
                .workers-wrapper{
                .single-worker{
                    display: inline-block;
                    width:100%;
                    align-items: center;
                    .buttons-wrapper{
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        button{
                            width:50vw !important;
                            margin: 0.5rem;
                        }
                    }
                    .visits{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
            }
        }
    }
}