.admin-panel-controll-window{
    width:100%;
    height:900px;
    display: flex;
    .left-column{
        flex:1;
        ul{
            list-style-type: none;
            height: 900px;
            li{
                width:150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                cursor: pointer;
            }
            .active{
                background-color: rgba(120,193,255,0.3);;
            }
        }
    }
    .right-column{
        flex:4;
        padding: 0 5rem;
        display: flex;
        justify-content: center;
        align-items: top;
        .questions-box{
            display: block;
            max-height: 800px;
            overflow-y: scroll;
            width: 100%;
            .single-question{
                padding:1rem;
                border:2px solid #78c1ff;
                border-radius: 20px;
                margin-bottom: 2rem;
                display:flex;
                align-items: center;
                .left-wrapper,.right-wrapper{
                    flex:1;
                }
                .right-wrapper{
                    text-align: right;
                    textarea{
                        width: 100%;
                        min-height: 200px;
                        margin:2rem 0 1rem 0;
                        height: auto;
                    }
                    input{
                        background-color: #78c1ff;
                        border:0;
                        outline: 0;
                        color:#fff;
                        padding:1rem 3rem;
                        border-radius: 100px;
                    }
                }
        }
        }

        .calendar{
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-height: 800px;
            width: 100%;
            input{
                width:50px;
                height: 50px;
                border: 0;
                outline: 0;
            }
            .rotate{
                transform: rotate(180deg);
            }
            .wrapper{
                display: flex;
                align-items: center;

            .table-container{
                text-align: center;
            table{
                border-spacing: 0.5rem;
                tr{
                    td{
                        text-align: center;
                        width:100px;
                        height: 100px;
                        border:2px solid #78c1ff;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                    .blocked{
                        border:0;
                        cursor: auto !important;
                    }
                }
            }
        }
        }

        .hidden-box{
            display: none;
            z-index: 9999999;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            position: fixed;
            background-color: rgba(191, 191, 191, 0.6);
            justify-content: center;
            align-items: center;

            .hidden-window{
                left: 20%;
                width:60%;
                height: 600px;
                background-color: #fff;
                border: 2px solid #78c1ff;
                border-radius: 20px;
                .wrapper{
                    display: flex;
                    align-items:center;
                h2{
                    text-align: center;
                    flex:90%;
                    padding-left:5%;
                }
                input{
                    align-self: flex-start;
                    flex:10%;
                    max-width: 20px;
                    max-height: 20px;
                    border:0;
                    outline: 0;
                    padding: 1rem 1rem 0 0;
                }

            }
            }
        }
    }

    .workers{
        display: none;
        align-items: top;
        flex-direction: column;
        .workers-wrapper{
            display: flex;
        .single-worker{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 1rem;
            min-width:350px;
            min-height: 300px;
            max-height: 600px;
            margin:0 5rem;
            box-shadow: 10px 10px 10px lightgray;
            border-top:3px solid #78c1ff;
            border-left:3px solid #78c1ff;
            border-radius: 20px;
            img{
                max-width: 300px;
                border-radius: 50%;
                margin-bottom: 3rem;
            }
            .text-wrapper{
                align-self: flex-start;
                p{
                    margin-bottom: 2rem;
                }
            }
            .buttons-wrapper{
                display: flex;
                justify-content: center;
                button{
                    margin:0 1rem;
                    padding: 1rem;
                    border-radius: 10px;
                }
                .edit{
                    background-color: rgba(255, 204, 0,0.5);
                    border:2px solid #ffcc00;
                }
                .delete{
                    background-color: rgba(255, 43, 0,0.5);
                    border:2px solid #ff2b00;
                }
            }
        }
    }
    .buttons-wrapper-outer{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        .add{
            margin:0 1rem;
            padding: 1rem;
            border-radius: 10px;
            background-color: rgba(0, 184, 0,0.5);
            border:2px solid #00b800;
        }
    }
}
    }
}