{% block content_body %}
<form method="post">


    {% if app.user %}
    <div class="mb-3">
        Jesteś zalogowany jako: {{ app.user.username }}, <a href="{{ path('app_logout') }}">Wyloguj Się</a>
    </div>
    {% endif %}

    <label for="inputEmail">Email</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Hasło" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>

    <div class="submit-row">
        <input type="submit" value="Zaloguj się">
    </div>
    <a id="register" class="register" onclick="register()">Zarejestruj się</a>
</form>
{% endblock %}