{% extends "base.html.twig" %}

{% block content_body %}

{{ form_start(questionForm) }}
{{ form_widget(questionForm) }}
<button type="submit" class="btn btn-primary">Wyslij</button>
{{ form_end(questionForm) }}
{% endblock %}