{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('styles/adddoctor/addoctor.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}New Doctor{% endblock %}

{% block body %}
<h1>Dodaj nowego doktora</h1>

{{ include('doctor/_form.html.twig') }}

<a href="{{ path('doctor_index') }}">Wróć</a>
<script>
    let labels = document.getElementsByTagName("label");
    labels[0].innerText = "Imię";
    labels[1].innerText = "Nazwisko";
    labels[2].innerText = "Specjalizacja";
</script>
{% endblock %}