<footer>

<img src="assets/footer/logo2.svg" alt="logo">

</footer>

{% block javascripts %}
<script>
    var hamburger = document.getElementsByClassName("hamburger");
    var menu = document.getElementsByClassName("hidden-menu");
    hamburger[0].onclick = function(){
        if(menu[0].style.display == "flex"){
        document.body.style.overflowY = "visible";
        menu[0].style.display = "none";
        }
        else{
        document.body.style.overflowY = "hidden";
        menu[0].style.display = "flex";   
        }
    }
</script>

<script>

  var login = document.getElementById("loginbtn");
  var login2 = document.getElementById("loginbtn2");
  var close = document.getElementsByClassName("close");
  var logincontainer = document.getElementsByClassName("login-container");
  login.onclick = function(){
    logincontainer[0].style.display = "flex";
  }
  login2.onclick = function(){
    logincontainer[0].style.display = "flex";
  }
  close[0].onclick = function(){
    logincontainer[0].style.display = "none";
  }

</script>   

  <script>
    var labels = document.getElementsByTagName("label");
    for(var i=0;i<4;i++){
      labels[i].innerText = " ";
    }
  </script>
{% endblock %}
</body>
</html>