<footer>

<img src="assets/footer/logo2.svg" alt="logo">

</footer>

{% block javascripts %}
<script>
    var hamburger = document.getElementsByClassName("hamburger");
    var menu = document.getElementsByClassName("hidden-menu");
    hamburger[0].onclick = function(){
        if(menu[0].style.display == "flex"){
        document.body.style.overflowY = "visible";
        menu[0].style.display = "none";
        }
        else{
        document.body.style.overflowY = "hidden";
        menu[0].style.display = "flex";   
        }
    }
</script>

<script>

  var login = document.getElementById("loginbtn");
  var login2 = document.getElementById("loginbtn2");
  var logincontainer = document.getElementsByClassName("login-container");
  login.onclick = function(){
    logincontainer[0].style.display = "flex";
  }
  login2.onclick = function(){
    logincontainer[0].style.display = "flex";
  }

</script>   

  <script>
    var labels = document.getElementsByTagName("label");
    for(var i=0;i<4;i++){
      labels[i].innerText = " ";
    }
  </script>

<script>
$loginContainer = document.getElementsByClassName("login-container")[0];

function register(){
$loginContainer.innerHTML = 
'<div class="register-box">'+
'<div class="close-row">'+
'<input class="close" type="image" src="assets/home/close.png" onclick="closeLoginContainer()">'+
'</div>'+
'<form action="#">'+
'<h4>Zarejestruj się</h4>'+
'<div class="submit-row">'+
'<input type="submit" value="Zarejestruj się"></input>'+
'</div>'+
'<a class="login" onclick="login()">Zaloguj się</a>'+
'</form>'+
'</div>';
}

function login(){
$loginContainer.innerHTML =
'<div class="login-box">'+
'<div class="close-row">'+
'<input class="close" type="image" src="assets/home/close.png" onclick="closeLoginContainer()">'+
'</div>'+
'<form action="#">'+
'<h4>Zaloguj się</h4>'+
'<input type="text" name="login" placeholder="Login">'+
'<input type="text" name="password" placeholder="Hasło">'+
'<div class="submit-row">'+
'<input type="submit" value="Zaloguj się"></input>'+
'</div>'+
'<a id="register" class="register" onclick="register()">Zarejestruj się</a>'+
'</form>'+
'</div>';
}
function closeLoginContainer(){
    $loginContainer.style.display = "none";
  }
</script>  

{% endblock %}
</body>
</html>