<footer>

<img src="assets/footer/logo2.svg" alt="logo">

</footer>

{% block javascripts %}
<script>
    var hamburger = document.getElementsByClassName("hamburger");
    var menu = document.getElementsByClassName("hidden-menu");
    hamburger[0].onclick = function(){
        if(menu[0].style.display == "flex"){
        //document.body.style.overflowY = "visible";
        menu[0].style.display = "none";
        }
        else{
        //document.body.style.overflowY = "hidden";
        menu[0].style.display = "flex";   
        }
    }
</script>

<script>

  var login = document.getElementById("loginbtn");
  var login2 = document.getElementById("loginbtn2");
  var logincontainer = document.getElementsByClassName("login-container");
  login.onclick = function(){
    logincontainer[0].style.display = "flex";
  }
  login2.onclick = function(){
    logincontainer[0].style.display = "flex";
  }

</script>   

  <script>
    var labels = document.getElementsByTagName("label");
    for(var i=0;i<4;i++){
      labels[i].innerText = " ";
    }
  </script>

<script>
$loginContainer = document.getElementsByClassName("login-container")[0];
$loginBox = $loginContainer.getElementsByClassName("login-box")[0];
$registerBox = $loginContainer.getElementsByClassName("register-box")[0];

function register(){
$loginBox.style.display = "none"; 
$registerBox.style.display = "flex"; 
}

function login(){
  $loginBox.style.display = "flex"; 
$registerBox.style.display = "none"; 
}
function closeLoginContainer(){
    $loginContainer.style.display = "none";
  }
</script>  

{% endblock %}
</body>
</html>