header {
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  z-index: 999;
}

header .login-container {
  z-index: 9999999;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(191, 191, 191, 0.6);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .login-container .login-box, header .login-container .register-box {
  width: 80%;
  height: 400px;
  background-color: #fff;
  border: 3px solid #78c1ff;
  border-radius: 20px;
}

header .login-container .login-box .close-row, header .login-container .register-box .close-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
}

header .login-container .login-box .close-row input[type="image"], header .login-container .register-box .close-row input[type="image"] {
  max-width: 20px;
  border: 0;
  outline: 0;
}

header .login-container .login-box form, header .login-container .register-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

header .login-container .login-box form input, header .login-container .register-box form input {
  margin: 0.5rem 0;
  padding-left: 1rem;
  height: 30px;
}

header .login-container .login-box form input::-webkit-input-placeholder, header .login-container .register-box form input::-webkit-input-placeholder {
  font-family: "Poppins";
  opacity: 0.5;
}

header .login-container .login-box form input:-ms-input-placeholder, header .login-container .register-box form input:-ms-input-placeholder {
  font-family: "Poppins";
  opacity: 0.5;
}

header .login-container .login-box form input::-ms-input-placeholder, header .login-container .register-box form input::-ms-input-placeholder {
  font-family: "Poppins";
  opacity: 0.5;
}

header .login-container .login-box form input::placeholder, header .login-container .register-box form input::placeholder {
  font-family: "Poppins";
  opacity: 0.5;
}

header .login-container .login-box form .submit-row, header .login-container .register-box form .submit-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .login-container .login-box form .submit-row input[type="submit"], header .login-container .register-box form .submit-row input[type="submit"] {
  background-color: #78c1ff;
  border: 0;
  border-radius: 10px;
  outline: 0;
  padding: 0.7rem;
  margin: 1rem 0;
  color: #fff;
  height: 40px;
  cursor: pointer;
}

header .login-container .login-box form a, header .login-container .register-box form a {
  font-size: 12px;
}

@media (min-width: 600px) {
  header .login-container .login-box form input, header .login-container .register-box form input {
    width: 300px;
    height: 40px;
  }
}

@media (min-width: 1000px) {
  header .login-container .login-box, header .login-container .register-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
    width: 600px;
  }
  header .login-container .login-box form, header .login-container .register-box form {
    height: 500px;
    margin: 50px 0;
  }
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .wrapper .logo-container, header .wrapper .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 999;
}

header .wrapper .logo-container img {
  max-width: 200px;
  padding-left: 2rem;
}

header .wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .wrapper .menu ul {
  display: none;
}

header .wrapper .menu ul li {
  cursor: pointer;
}

header .wrapper .menu .hamburger {
  max-width: 30px;
  border: 0;
  outline: 0;
  margin-right: 2rem;
}

header .hidden-menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #fff;
}

header .hidden-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header .hidden-menu ul li {
  margin: 8rem 0;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 1000px) {
  header .hidden-menu {
    display: none !important;
  }
}

@media (min-width: 1000px) {
  header {
    height: 125px;
  }
  header .wrapper .logo-container img {
    max-width: 250px;
  }
  header .wrapper .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  header .wrapper .menu ul li {
    margin: 0 2rem;
    font-size: 14px;
  }
  header .wrapper .menu ul .active {
    color: #78c1ff;
    font-weight: bold;
  }
  header .wrapper .menu .hamburger {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */