{% include '/header/header.html.twig' %}

<section class="slider">
    
    <div class="mobile-text">
        <h2>Zadbaj z nami o swoje zeby!</h2>
        <p>Nasi wykwalifikowani lekarze sprawią, że twoje zęby bedą czyste ale też przede wszystkim zdrowe. Wysokiej klasy sprzęt którym dysponujemy sprawi, że wszystko przebiegnie sprawnie i bezboleśnie.</p>
    </div>

    <img class="sliderimg">
    <img class="sliderimg">
    <img class="sliderimg">

</section>

<section class="home-section-1">

    <div class="left-column">
        <img src="assets/home/tooth2.svg" alt="tooth">
    </div>

    <div class="right-column">
        <h2>Gabinet DentalCode</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie malesuada commodo. Mauris volutpat maximus volutpat. Etiam lobortis faucibus eros nec facilisis. Donec tincidunt ante non mi commodo aliquet. Donec nec dapibus erat, quis tristique nisl. Fusce pretium magna pretium, mollis ante sit amet, dignissim ipsum. Ut eget ligula nisi. In justo justo, lobortis sed mollis et, pulvinar in orci.</p>
    </div>

</section>

<section class="home-section-2">
    <h2>Dlaczego akurat my?</h2>
    <ul>
        <div class="wrapper">
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
        </div>

        <div class="wrapper">
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
        </div>

    </ul>
</section>

<section class="home-section-3">

    <div class="text-container">
        <h2>Jeżeli masz wątpliwości napisz do nas!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie malesuada commodo. Mauris volutpat maximus volutpat. Etiam lobortis faucibus eros nec facilisis.</p>
    </div>
    
    <form action="#">
        <input type="text" name="imie" placeholder="Imię"/>
        <input type="text" name="nazwisko"placeholder="Nazwisko"/>
        <input type="text" name="email"placeholder="E-mail"/>
        <textarea name="tresc"placeholder="Treść"></textarea>
        <button type="submit">Wyślij</button>
    </form>

</section>


{% include '/footer/footer.html.twig' %}

