.breadcrumb-img {
  display: none;
}

@media (min-width: 1000px) {
  .breadcrumb-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 700px;
    margin-top: 0;
  }
  .breadcrumb-img img {
    display: block;
    width: 100%;
    max-height: 700px;
  }
}

.kontakt-section-1 {
  width: 100%;
  height: 900px;
  margin-top: 100px;
  width: 100%;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
}

.kontakt-section-1 h2 {
  text-align: center;
}

.kontakt-section-1 .wrapper ul {
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: -3rem;
  list-style-type: none;
}

.kontakt-section-1 .wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kontakt-section-1 .wrapper ul .mark:before {
  content: url("../../assets/kontakt/mark.svg");
  margin-right: 2rem;
}

.kontakt-section-1 .wrapper ul .phone:before {
  content: url("../../assets/kontakt/phone.svg");
  margin-right: 2rem;
}

.kontakt-section-1 .wrapper ul .envelope:before {
  content: url("../../assets/kontakt/envelope.svg");
  margin-right: 2rem;
}

@media (min-width: 1000px) {
  .kontakt-section-1 {
    margin-top: 0;
    margin-bottom: 0;
    height: 700px;
  }
  .kontakt-section-1 .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    margin-bottom: 0;
  }
  .kontakt-section-1 .wrapper .left-column, .kontakt-section-1 .wrapper .right-column {
    margin: 5rem 8vw 0 8vw;
  }
  .kontakt-section-1 .wrapper .left-column ul, .kontakt-section-1 .wrapper .right-column ul {
    line-height: 150px;
  }
}

.google-map {
  padding-top: 3rem;
  width: 100%;
  height: 400px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

.google-map h2 {
  margin-bottom: 2rem;
}

.google-map #map {
  width: 80%;
  height: 300px;
}

@media (min-width: 1000px) {
  .google-map {
    height: 600px;
  }
  .google-map #map {
    width: 80%;
    height: 500px;
  }
}
/*# sourceMappingURL=kontakt.css.map */