html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1000px) {
  body {
    display: block;
  }
}

.slider {
  width: 100%;
  background-size: cover;
  background-position: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 0;
}

.slider .mobile-text {
  text-align: center;
  padding: 5rem 10vw 0 10vw;
  line-height: 50px;
}

.slider img {
  display: none;
}

@media (min-width: 1000px) {
  .slider {
    padding-top: 0;
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 125px;
  }
  .slider .mobile-text {
    display: none;
  }
  .slider img {
    display: block;
    width: 100%;
    height: auto;
    z-index: -1;
  }
}

.home-section-1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background-image: url(../../assets/home/section1bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5rem;
  width: 100%;
  min-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4rem;
}

.home-section-1 .left-column {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.home-section-1 .left-column .img-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-section-1 .left-column .img-container .wrapper img {
  width: 80%;
  max-width: 250px;
  margin: 1rem;
  border-radius: 20px;
}

.home-section-1 .right-column {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 3rem;
}

.home-section-1 .right-column h2 {
  text-align: center;
}

.home-section-1 .right-column p {
  text-align: center;
  padding: 0 10vw;
  line-height: 50px;
}

@media (min-width: 550px) {
  .home-section-1 .left-column .img-container .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .home-section-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .home-section-1 .left-column {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    min-height: 900px;
  }
  .home-section-1 .left-column .img-container {
    width: 100%;
    height: 100%;
    position: relative;
    height: 900px;
  }
  .home-section-1 .left-column .img-container .wrapper {
    display: unset;
    height: 450px;
  }
  .home-section-1 .left-column .img-container .wrapper img {
    max-width: 35%;
    border-radius: 50%;
    position: absolute;
    opacity: 0.5;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .home-section-1 .left-column .img-container .wrapper #bubble-1 {
    top: 10%;
    left: 10%;
  }
  .home-section-1 .left-column .img-container .wrapper #bubble-2 {
    top: 20%;
    left: 55%;
  }
  .home-section-1 .left-column .img-container .wrapper #bubble-3 {
    top: 40%;
    left: 20%;
  }
  .home-section-1 .left-column .img-container .wrapper #bubble-4 {
    top: 50%;
    left: 65%;
  }
  .home-section-1 .left-column .img-container .wrapper img:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
    z-index: 100;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .home-section-1 .right-column {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .home-section-1 .right-column p {
    padding: 5vw;
  }
}

@media (min-width: 1400px) {
  .home-section-1 .left-column .img-container .wrapper #bubble-3 {
    top: 45%;
    left: 20%;
  }
  .home-section-1 .left-column .img-container .wrapper #bubble-4 {
    top: 55%;
    left: 65%;
  }
}

@media (min-width: 1700px) {
  .home-section-1 .left-column .img-container .wrapper #bubble-1 {
    top: 5%;
    left: 10%;
  }
  .home-section-1 .left-column .img-container .wrapper #bubble-2 {
    top: 10%;
    left: 55%;
  }
  .home-section-1 .left-column .img-container .wrapper #bubble-3 {
    top: 45%;
    left: 20%;
  }
  .home-section-1 .left-column .img-container .wrapper #bubble-4 {
    top: 55%;
    left: 65%;
  }
}

.home-section-2 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 1000px;
  background: #78c1ff;
  background: -webkit-gradient(linear, left top, right top, from(#78c1ff), color-stop(35%, #72b7f2), to(#1b76c2));
  background: linear-gradient(90deg, #78c1ff 0%, #72b7f2 35%, #1b76c2 100%);
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.home-section-2 h2 {
  margin-bottom: 1rem;
}

.home-section-2 ul {
  padding: 0;
  list-style-type: none;
  text-align: center;
  line-height: 100px;
}

.home-section-2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-section-2 ul li:before {
  display: none;
}

@media (min-width: 1000px) {
  .home-section-2 .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-section-2 .wrapper ul {
    margin: 0 10vw;
    line-height: 150px;
  }
  .home-section-2 .wrapper ul li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .home-section-2 .wrapper ul li:before {
    display: inline-block;
    content: url(../../assets/home/tooth.svg);
    margin-left: -40px;
    margin-right: 40px;
    height: 100px;
  }
  .home-section-2 .wrapper ul li:hover::before {
    -webkit-animation: shake 1s;
            animation: shake 1s;
  }
}

.home-section-3 {
  height: 900px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-top: 3rem;
}

.home-section-3 .text-container h2 {
  text-align: center;
  padding: 0 10vw;
  margin-bottom: 5rem;
}

.home-section-3 .text-container p {
  display: none;
}

@media (min-width: 1000px) {
  .home-section-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2rem;
  }
  .home-section-3 .text-container, .home-section-3 form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .home-section-3 .text-container h2 {
    padding: 0 5vw;
  }
  .home-section-3 .text-container p {
    display: block;
    text-align: center;
    padding: 0 10vw;
    line-height: 50px;
  }
}

@media (min-width: 1300px) {
  .home-section-3 .text-container p {
    text-align: center;
    padding: 0 10vw;
    line-height: 50px;
  }
}
/*# sourceMappingURL=home.css.map */