.doctor-section{
    width: 100%;;
    .wrapper{
    .single-doctor{
        width: 90%;
        text-align: center;
        margin: auto;
        margin-bottom: 3rem;

        button{
            width:150px;
            height: 50px;
            background-color: #78c1FF;
            color:#fff;
            border:0;
            outline: 0;
            border-radius:30px;
            font-weight: bold;
            &:hover{
                cursor: pointer;
                box-shadow: 4px 8px 15px #999;
                background-color: #5dbdff;
                transition: all 0.2s;
            }
        }
        .img-container{
            text-align: center;
        img{
            height: auto;
            min-width: 200px;
            max-width: 50%;
            border-radius: 50%;
            margin-bottom: 1rem;
        }
    }
    }}
    form[name="visit"]{
        text-align: center;
        padding: 2rem 0;

        #visit_time_hour,#visit_time_minute,#visit_doctor{
            border: 1px solid #78c1ff;
            padding: 0.5rem;
            margin: 0 0.5rem 0.5rem 0.5rem;

            @media(min-width:100px){
                width: 100px;
                padding: 0.7rem;
            }
        }
    }

    @media(min-width:600px){
        .wrapper{
        .single-doctor{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .img-container,.dane{
                flex:1;
            }
            .img-container{
            img{
                max-width: 300px;
            }
        }
        }
    }}

    @media(min-width:1000px){
        .wrapper{
        min-height: 900px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1rem;
        .single-doctor{
            flex-direction: column;
            width:30%;
            margin: 3rem 1rem;

            .img-container{
                width:100%;
                height: auto;
                img{
                    width:100%;
                }
            }
        }
    }
}
}