.doctor-section{
    width: 100%;

    .single-doctor{
        width: 90%;
        text-align: center;
        margin: auto;
        margin-bottom: 3rem;

        button{
            width:150px;
            height: 50px;
            background-color: #78c1FF;
            color:#fff;
            border:0;
            outline: 0;
            border-radius:30px;
            font-weight: bold;
            &:hover{
                cursor: pointer;
                box-shadow: 4px 8px 15px #999;
                background-color: #5dbdff;
                transition: all 0.2s;
            }
        }
        .img-container{
            text-align: center;
        img{
            height: auto;
            min-width: 200px;
            max-width: 50%;
            border-radius: 50%;
            margin-bottom: 1rem;
        }
    }
    }

    @media(min-width:600px){
        .single-doctor{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .img-container,.dane{
                flex:1;
            }
            .img-container{
            img{
                max-width: 300px;
            }
        }
        }
    }

    @media(min-width:1000px){
        min-height: 900px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1rem;
        .single-doctor{
            flex-direction: column;
            width:30%;
            margin: 3rem 1rem;

            .img-container{
                width:100%;
                height: auto;
                img{
                    width:100%;
                }
            }
        }
    }
}

.calendar-section{
    display: none;
    //min-height: 900px;
    width:100%;
    padding-top: 4rem;
    margin-bottom: 3rem;

    .calendar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 800px;
        width: 100%;
        input{
            width:50px;
            height: 50px;
            border: 0;
            outline: 0;
        }
        .rotate{
            transform: rotate(180deg);
        }
        .wrapper{
            display: flex;
            align-items: center;

        .table-container{
            text-align: center;
        table{
            border-spacing: 0.5rem;
            tr{
                td{
                    text-align: center;
                    width:100px;
                    height: 100px;
                    border:2px solid #78c1ff;
                    border-radius: 10px;
                    cursor: pointer;

                    &:hover{
                        background-color: #78c1ff !important;
                        color:#fff;
                        transition: all 0.2s;
                        cursor: pointer;
                    }
                }
                .blocked{
                    border:0;
                    cursor: auto !important;

                    &:hover{
                        background-color: rgba(229, 61, 61, 0.5) !important;
                    }
                }
            }
        }
    }
    }
    }

    @media(max-width:1300px){
        .calendar{
            justify-content: center;
            .wrapper{
                .table-container{
                    .this-month{
                        border-spacing: 0.2rem;
                        td{
                            width:80px;
                            height: 80px;
                        }
                    }
                }
            }
        }
    }

    @media(max-width:1000px){
        //min-height: unset;
        .calendar{
            //min-height: 600px;
            .wrapper{
                .table-container{
                    .this-month{
                        td{
                            width: 10vw;
                            height: 10vw;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    @media(max-width:600px){
       //height: 500px;
        .calendar{
            .wrapper{
                input{
                    transform: scale(0.5);
                }
                .table-container{

                    .this-month{
                        td{
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }

    @media(max-width:400px){
       // height: 400px;
    }
}

.hours-section{
    //min-height: 900px;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;

    table{
        border-spacing: 1rem;

        td{
            border:2px solid #78c1ff;
            padding: 2rem;
            width:100px;
            text-align: center;
            font-size: 24px;
            border-radius: 20px;

            &:hover{
                transform: scale(1.1);
                background-color: #78c1ff;
                color:#fff;
                transition: all 0.2s;
                cursor: pointer;
            }
        }
    }

    @media(max-width:1000px){
        //align-items: flex-start;
        table{
            tr{
                //display: flex;
                //flex-direction: column;

                td{
                    //margin-bottom: 1rem;
                    width: 80px;
                    font-size: 16px;
                }
            }
        }
    }

    @media(max-width:700px){
        table{
            border-spacing: 0.5rem;
            tr{
                td{
                    width:20%;
                    padding: 1rem;
                    font-size: 16px;
                }
            }
        }
    }

    @media(max-width:400px){
        table{
            border-spacing: 0.3rem;
            tr{
                td{
                    width:20%;
                    padding: 0.8rem;
                }
            }
        }
    }
}