{% include '/header/header.html.twig' %}
<section class="breadcrumb-img">
    <img src="assets/kontakt/wsb.svg" alt="wejscie">
</section>

<section class="kontakt-section-1">
    <div class="wrapper">
    <div class="left-column">
        <ul>
            <li class="mark">Lorem ipsum</li>
            <li class="phone">Lorem ipsum</li>
            <li class="envelope">Lorem ipsum</li>
        </ul>
    </div>

    <div class="right-column">
        {% include '/form/form.html.twig' %}
    </div>
</div>
</section>

<section class="google-map">
    <div id="map"></div>
</section>

{% include '/footer/footer.html.twig' %}